scikit-learn==1.6.1
scipy==1.15.2
pandas==2.2.3
tqdm==4.67.1
wandb==0.19.8
seaborn==0.13.2
torch==2.7.0
transformers==4.50.0
datasets==3.5.1
huggingface-hub==0.31.1
nltk==3.9.1
langchain==0.3.20
openai==1.66.3
langchain-openai==0.3.8
langchain-community==0.3.19
langchain-huggingface==0.2.0
google-genai==1.5.0
langchain-google-genai==2.0.11
together
langchain-together==0.3.0
# yaml
langchain_anthropic

agno
python-dotenv
pydantic